* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Helmet', sans-serif;
}


.recado {
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid hsl(148, 100%, 15%);
    height: 20px;
    display: block;
    color:hsl(148, 100%, 15%);
}

#descricao {
    width: 90%;
    height: 100px;
    resize: none;
}

.recado::placeholder {
    color: hsl(148, 100%, 45%);
}

.recado:focus {
    box-shadow: -2px 3px hsl(148, 100%, 15%);
}


#add {
    background-color: hsl(148, 100%, 35%);
    margin-left: 20px;
    color: white;
    font-size: 30px;
    border-style: none;
    width: 30px;
    height: inherit;
    cursor: pointer;
    z-index: 2;
}

.botoes {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.botoes button {
    background-color: hsl(148, 100%, 35%);
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;
    margin-right: 10px;
}

table {
    border-radius: 1em;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(120, 60%, 50%);
    box-shadow: 0px 5px 8px green;
    color: white;
}

td, th {
    padding-left: 7vw;
    padding-right: 7vw;
}

td {
    width: auto;
    height: auto;
}
@media (max-width: 626px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .menu input {
        margin: 10px 0;
        padding: 5px;
        z-index: 3;
    }

    .table {
        width: auto;
    }
    .botoes {
        position: fixed;
        bottom: 20px;
        left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }          

    .botoes button {
        width: 75px;
        height: 75px;
    }

    #add {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 75px;
        height: 75px;
        box-sizing: border-box;
    }
}