* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Helmet', sans-serif;
    background-color: hsl(148, 100%, 50%);
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.recado {
    font-size: 17pt;
    margin: 10px auto;
    padding: 5px 10px;
    border: 1px solid hsl(148, 100%, 15%);
    height: 20px;
    display: block;
    color:hsl(148, 100%, 15%);
}

#descricao {
    width: 90%;
    height: 100px;
    resize: none;
}

.recado::placeholder {
    font-size: 17pt;
    color: hsl(148, 100%, 45%);
}

.recado:focus {
    box-shadow: -2px 3px hsl(148, 100%, 15%);
}


.editar, .menu {
    background-color: hsl(148, 100%, 35%);
    border: 1px solid hsl(148, 100%, 15%);
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
    border-width: 2px;
    font-size: 20px;
    padding: 5px;
    width: 40px;
    cursor: pointer;
}


.editar:focus {
    box-shadow: -2px 2px 0 hsl(148, 100%, 15%);
}

.menu:focus {
    box-shadow: -2px 2px 0 hsl(148, 100%, 15%);
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 8px;
}

#wrapper div {
    width: 80%;
    border: 1px solid black;
    margin-top: 25px;
    padding: 10px;
    background-color: white;
    box-shadow: -2px 2px hsl(148, 100%, 15%);
}

@media (max-width: 626px) {
    .editar {
        z-index: 999;
    }


    .botoes {
        position: fixed;
        bottom: 20px;
        left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        z-index: -1;

    }

    .botoes button {
        width: 75px;
        height: 75px;
    }

    #add {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 75px;
        height: 75px;
        box-sizing: border-box;
    }
}
